<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flash.fulfill.product.mapper.SpuMapper">

    <select id="selectById4View" resultType="com.flash.fulfill.product.entity.Spu">
        SELECT id, name, category_id, brand_id, description, main_image, status, create_time, update_time
        FROM spu
        WHERE id = #{id}
    </select>
</mapper>
